<div class="min-h-screen bg-gray-50">
  <app-cms-sidebar></app-cms-sidebar>
  <app-cms-top-bar></app-cms-top-bar>
  <main class="ml-56 pt-12 min-h-screen">

    @if (view === 'list') {
      <app-cms-content-list
        (newContent)="showEditor()"
        (editContent)="editArticle($event)">
      </app-cms-content-list>
    }

    @if (view === 'editor') {
      <app-cms-editor-form
        [article]="articleToEdit"
        (saved)="showList()"
        (cancelled)="showList()">
      </app-cms-editor-form>
    }

  </main>
</div>
